<nav class="navbar navbar-expand-lg navbar-light bg-white shadow-sm">
    <div  xmlns:th="http://www.thymeleaf.org" th:fragment="product_card"class="container">
        <a class="navbar-brand" th:href="@{/}">MyBoard</a>
        <form class="d-flex ms-auto" th:action="@{/search}" method="get">
            <input class="form-control me-2" name="q" type="search" placeholder="검색">
            <button class="btn btn-outline-primary" type="submit">검색</button>
        </form>
        <ul class="navbar-nav ms-3">
            <li class="nav-item"><a class="nav-link" th:href="@{/login}">로그인</a></li>
            <li class="nav-item"><a class="nav-link" th:href="@{/signup}">회원가입</a></li>
        </ul>
    </div>
</nav>
